@import '../styles/partials/mixins';

* {
    padding: 0;
    margin: 0;
}

body {
   background: rgb(251, 251, 251);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay {
    background-color: rgba(100, 100, 100, 0.4);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
  
.overlay:not(.hidden) {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
    
}
  
.header {
    &__title {
        text-transform: uppercase;
        font-weight: 100;
        color: rgb(70, 70, 70);
        font-size: 1rem;
        padding: 3rem 2rem;
    }
}

.main {
    width: 90vw;
    margin: 0 auto;
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem;
    }
}

.card {
    display: flex;
    justify-content: space-around;
    background: #fff;
    align-items: center;
    border: 1px solid #778;
    border-radius: 5px;
    width: 25rem;
    margin: 1rem;
    padding: 1rem 1.5rem;
    @include hover;

    &__avatar {
        border-radius: 50%;
        height: 6.25rem;
        margin: 1rem;
    }

    &__text-container {
        font-family: Arial, Helvetica, sans-serif;
    }

    &__name,
    &__email,
    &__address {
        padding: 0;
        margin: 0;
    }
    &__email,
    &__address {
        @include secondary-font;
    }
}

.modal {
    position: absolute;

    &__content {
        margin: 15% auto auto;
        width: 350px;
        height: 500px;
        text-align: center;
        background: #fff;
        border: 1px solid #778;
        border-radius: 5px;
        padding: 5rem 1.25rem 0 1.25rem;
    }

    &__main {
        display: flex;
        flex-direction: column;
    }

    &__close {
        position: relative;
        top: 6.25rem;
        left: 10rem;
        background: none;
        border: none;
        @include hover;
    }

    &__avatar {
        border-radius: 50%;
    }

    &__email,
    &__address,
    &__phone,
    &__address,
    &__birthday {
        @include secondary-font;
    }

    &__address {
        padding: 0 0 1rem 0;
    }

    &__phone {
        padding: 1.5rem 0 1rem 0;
    }
}